body {
  background-color: #366bde;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  padding: 20px;
}

.filter-buttons {
  margin-bottom: 20px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #ffd900;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #f0f8ff;
  color: #ff0000;
}

.search__bar {
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
